{%extends 'base.html'%}
{%block title%} Home {%endblock%}
{%block body%}
<nav class="navbar navbar-expand-md bg-light navbar-light">
    <a class="navbar-brand" href="#">
      <img src="{{ url_for('static',filename='cme.jpg') }}" width="35" height="35" class="d-inline-block align-top" alt="#">
      College of Military Engineering,Pune
    </a>

    <ul class="navbar-nav ml-auto">
       <li class="nav-item">
           <a class="nav-link" href="{{url_for('index')}}">
             Students
           </a>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="{{url_for('course_reg')}}">
          Courses
        </a>
        </li>
       <li class="nav-item">
          <a class="nav-link font-weight-bold text-dark" href="{{url_for('class_reg')}}">
            Classes
          </a>
      </li>
       <li class="nav-item">
           <a class="nav-link" href="{{url_for('attendance_records')}}">
             Attendance
           </a>
       </li>
   </ul>
  </nav>

  <div class="container mt-4">
   
         
      
    <div class="row">
        <div class="col-md-4"><h2>Class Registration</h2></div>
        <input type="text" id="filter" class="form-control col-md-3 ml-auto" placeholder="Search">
        
    </div>

    
     {%with messages=get_flashed_messages()%}
        {%if messages%} 
        {%for message in messages%}
        <div class="alert alert-success alert-dismissable mt-2" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">x</span>
            </button>
            {{message}}
        </div>
        {%endfor%}
        {%endif%}
        {%endwith%}
    

    <div class="row mt-4" style="overflow: auto;height: 630px;">
        <table class="table table-hover table-dark" id="table1" style="border-collapse: collapse;">
          
            <tr>

                <th class="text-center" style="position: sticky;top: 0;">Sr No</th>
                <th style="position: sticky;top: 0;">Class</th>
                <th style="position: sticky;top: 0;">Camera IP</th>
                <th style="position: sticky;top: 0;">Course</th>
        
                <!-- <th style="position: sticky;top: 0;">Stream</th> -->
              
                <th class="text-center" style="position: sticky;top: 0;">Action</th>

            </tr>
           
            {% for row,row2 in classes %}

           <tbody class="searchable">

            <tr>
                <!-- <td class="text-center">{{row.class_id}}</td> -->
                <td class="text-center">{{loop.index}}</td>
                <td>{{row.classname}}</td>
                <td>{{row.camera_name}}</td>
                <td>{{row2.course_name}}</td>
              
                <td class="text-center"> 
                    <a href="/update_classes/{{row.class_id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.class_id}}">Edit</a>
                    <a href="/delete_classes/{{row.class_id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
                </td>

            </tr>
           </tbody>
           
          


            




            <div id="modaledit{{row.class_id}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                   <div class="modal-content">
                      <div class="modal-header">
                         <h4 class="modal-title">Update Information</h4>
                      </div>
              
              
                      <div class="modal-body">

                         <form action="{{url_for('update_class')}}" method="POST">


                          <div class="form-group">
                            <label>Class:</label>
                             <input type="hidden"  name="id" value="{{row.class_id}}">
                            <input type="text" class="form-control" name="class_name" value="{{row.classname}}">
                         </div>

                        <div class="form-group">
                          <label>Camera IP:</label>
                          <input type="text" class="form-control" name="camera_ip" value="{{row.camera_name}}">
                        </div>
                            

                        <div class="form-group">
                           <label for="sel_course">Course:</label>
                           <select class="form-control" id="sel_course" name="course_name">
                              <option>{{row2.course_name}}</option>
                              {% for row3 in courses %}
                              <option>{{row3.course_name}}</option>
                              {% endfor %}
                        
                           </select>
                        </div> 
              
              
                        <div class="form-group">
                           <button class="btn btn-primary" type="submit">Update</button>
                        </div>
              
              
                         </form>
                      </div>
              
              
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                     </div>

                   </div>
                </div>
              
             </div>
            {% endfor %}

        </table>
        
    </div>
     <div class="col-md-12 mt-3">
        <button class="btn btn-outline-secondary btn-md float-right font-weight-bold" data-toggle="modal" data-target="#mymodal">+ Add New Class</button>
     </div>




    <div id="mymodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
           <div class="modal-content">
              <div class="modal-header">
      
                 <h4 class="modal-title">Add Course</h4>
              </div>
              <div class="modal-body">
      
                 <!-- <form action="{{ url_for('insert') }}" method="POST"> -->
                 <form action="{{ url_for('insert_class') }}" method="POST">
                    
                  <div class="form-group">
                    <label>Class</label>
                    <input type="text" class="form-control" name="class_name" required="1">
                 </div>
   
   
                  <div class="form-group">
                     <label>Camera IP:</label>
                     <input type="text" class="form-control" name="camera_name" required="1">
                 </div>

                 <div class="form-group">
                  <label for="sel_course">Course:</label>
                  <select class="form-control" id="sel_course" name="course" required="1">
                     {% for row3 in courses %}
                     <option>{{row3.course_name}}</option>
                     {% endfor %}
               
                  </select>
                </div> 
      
      
                    <div class="form-group">
                       <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
      
      
                 </form>
      
      
              </div>
              <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
      
      
           </div>
        </div>   
     </div>
</div>

<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script> -->
<script src="/static/jquery.min.js"></script>

<script>
   $(document).ready(function () {

  (function ($) {

     $('#filter').keyup(function () {

        var rex = new RegExp($(this).val(), 'i');
        $('.searchable tr').hide();
        $('.searchable tr').filter(function () {
              return rex.test($(this).text());
        }).show();

     })

  }(jQuery));

});
</script>


{%endblock%}

