<!-- index.html -->
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <button id='myButton' type="button">Start</button>
    <script>
      $('#myButton').click(function() {
          $.ajax({
                type:'POST',
                url: "{{ url_for('foo')}}",
                dataType:"text",
                success: function(response){
                   console.log(response);
                   alert(response);
                }
        });
      });
    </script>
    <button id='endButton' name="button_a" value="button_a" type="button">End</button>
    
    <script>
    $('#endButton').click(function() {
          $.ajax({
                type:'POST',
                url: "{{ url_for('new')}}",
                dataType:"text",
                success: function(response){
                   console.log(response);
                   
                   }
        });
      });
    </script>
  
   
  <a href=highway ><button class=grey style="height:75px;width:150px">Return to index page</button></a>
  
  
  </body>
  