{%extends 'base.html'%}
{%block title%} Home {%endblock%}
{%block body%}
<nav class="navbar navbar-expand-md bg-light navbar-light">
    <a class="navbar-brand" href="#">
      <img src="{{ url_for('static',filename='picture.png') }}" width="30" height="30" class="d-inline-block align-top" alt="#">
      College of Military Engineering,Pune
    </a>

    <ul class="navbar-nav ml-auto">
       <li class="nav-item">
           <a class="nav-link" href="{{url_for('index')}}">
             Students
           </a>
       </li>
       <li class="nav-item">
           <a class="nav-link" href="{{url_for('teacher_reg')}}">
             Teachers
           </a>
       </li>
       <li class="nav-item">
          <a class="nav-link" href="{{url_for('subject_reg')}}">
            Subjects
          </a>
      </li>
       <li class="nav-item">
           <a class="nav-link" href="{{url_for('attendance_records')}}">
             Attendance
           </a>
       </li>
   </ul>
  </nav>
<h1>Subject Registration</h1>
{%endblock%}